# Python
__pycache__/

*.pyc

# Virtual Environment
.venv/
venv/
.python_packages/

# Streamlit Secrets
.streamlit/secrets.toml

# Local database
database/*.db
database/*.db-journal

# VS Code
.vscode/

# Mac
.DS_Store

# Local logs
*.log
